/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url(background1.png);
}

h1, h2, p {
    color: white;
    font-family: cursive;
}

.logo {
    width: 350px;
    height: auto;
}

a {
    text-decoration: underline;
    color: chartreuse;
}

a:hover {
    color: chartreuse;
}

/* Header Styling */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    color: #fff;
    font-weight: bold;
}

/* Sidebar Styling */
.main-content {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    margin-right: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #333;
}

/* Main Content Styling */
.content {
    flex: 3;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section ul {
    list-style: square;
    padding-left: 20px;
    color: white;
    font-family: cursive;
}

section form {
    display: flex;
    flex-direction: column;
}

section form label {
    margin-bottom: 5px;
    color: white;
    font-family: cursive;
}

section form input,
section form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;
}

section form button:hover {
    background-color: #0056b3;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
